<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>brockfrisbie.com</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <div class="logo">brockfrisbie.com</div>
            <div class="menu-icon">☰</div>
        </header>
        <main>
            <div class="big-b">B</div>
        </main>
        <footer>
            <p>&copy; 2025 Brock Frisbie</p>
        </footer>
    </body>
</html>