<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>brockfrisbie.com</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <div class="logo"><a href="/">brockfrisbie.com</a></div>
            <div class="menu-icon">☰</div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/bitcoin">Bitcoin</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}

        {% endblock %}
        
        <footer>
            <p>© 2025 Brock Frisbie</p>
        </footer>
        <script>
            // JavaScript to toggle the navigation menu
            document.querySelector('.menu-icon').addEventListener('click', function() {
                document.querySelector('.nav-menu').classList.toggle('active');
            });
        </script>
    </body>
</html>